@charset "utf-8";
/* CSS Document */
@media (max-width: 360px) {
}


body {
    background-color: #023756;
    font-family: Raavi, Geneva, sans-serif;
}

h1{
    text-align: center;
    color: #ffffff;
    font-size: 40px;

}
#difficulty {
    align-content: center;
}
#text {
    width: 100%;
    text-align: center;
    background-color: #68a5ff;
}

#keyboard {
    background-color: #023757;
    border-style: outset;
    border-width: 2px;
    border-color: #2C739F;
}