@charset "utf-8";
/* CSS Document */
@media (max-width: 360px) {
}
body {
    background-color: #000000;

}
p {
    font-size: 25px;
    font-family: Verdana, Geneva, sans-serif;
    display: inline
}

#text {
    text-align: center;
    background-color: #68a5ff;
}

#keyboard {
    background-color: #023757;
    border-style: outset;
    border-width: 2px;
    border-color: #2C739F;
}